<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>privacidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Política de Privacidade do AvF

    Esta Política de Privacidade descreve como as informações pessoais são coletadas, usadas e compartilhadas quando
    você utiliza o aplicativo AvF ("Aplicativo" ou "Serviço").

    1. Informações Coletadas

    1.1 Informações Fornecidas pelo Usuário:
    Coletamos as informações que você fornece diretamente ao usar nosso aplicativo. Isso pode incluir, mas não está
    limitado a, informações de registro, como nome, endereço de e-mail e outras informações de contato.

    1.2 Informações de Uso:
    Coletamos automaticamente informações sobre como você interage com o aplicativo, como páginas visitadas, tempo gasto
    em determinadas áreas e ações realizadas.

    2. Uso das Informações

    2.1 Fornecimento de Serviço:
    Utilizamos as informações coletadas para oferecer, manter e melhorar nossos serviços, garantindo uma experiência
    eficiente e personalizada para o usuário.

    2.2 Comunicação:
    Podemos utilizar suas informações para nos comunicarmos com você, fornecendo atualizações sobre o serviço, responder
    a consultas ou fornecer informações relevantes.

    3. Compartilhamento de Informações

    3.1 Parceiros e Prestadores de Serviços:
    Podemos compartilhar suas informações com terceiros prestadores de serviços que auxiliam na operação do aplicativo e
    na prestação de serviços relacionados.

    3.2 Requisitos Legais:
    Reservamo-nos o direito de acessar, ler, preservar e divulgar qualquer informação que acreditemos ser necessária
    para cumprir com obrigações legais, proteger direitos, propriedade ou segurança.

    4. Cookies e Tecnologias Semelhantes

    Utilizamos cookies e tecnologias similares para melhorar a experiência do usuário, analisar tendências e administrar
    o aplicativo. Você pode configurar seu navegador para recusar todos ou alguns cookies, mas isso pode afetar a
    funcionalidade do aplicativo.

    5. Segurança

    Empregamos medidas de segurança adequadas para proteger suas informações contra acesso não autorizado, alteração,
    divulgação ou destruição não autorizada.

    6. Menores de Idade

    Este aplicativo não se destina a menores de idade, e não coletamos intencionalmente informações pessoais de crianças
    menores de 13 anos.

    7. Alterações nesta Política de Privacidade

    Reservamo-nos o direito de atualizar esta política periodicamente. Notificaremos os usuários sobre alterações
    significativas, e recomendamos que revejam regularmente esta página.

    8. Contato

    Ao utilizar o aplicativo AvF, você concorda com os termos desta Política de Privacidade.

    Para dúvidas ou preocupações relacionadas a esta Política de Privacidade, entre em contato conosco pelo botão abaixo:.
</p>
<ion-button href="contato">Contato</ion-button>
</ion-content>